
    <div class="contactFooter">
        <h1>Contacts Me!</h1>
        <p>Phone #: 908-309-2163</p>
        <p>Email: pschenk0304@gmail.com</p>
        <a  target="_blank" href="https://www.linkedin.com/in/patrick-schenk-5a910124a/">LinkedIn</a><br><br>
        <a target="_blank" href="https://github.com/Patsch03" >Github</a> 
    </div>
</body>
</html>