<%- include('./partials/header') %>
<p>About Page</p>
<h1>About Me</h1>
<div>
    <p>I am a coder and software engineer that designs, and helps design, products that are helpful to others and can make an impact on the world. I look to have more impact on a company than just the code I write, I hope to change a company and the people in it for the better.</p>
</div>

<div>
    <h1>My Education History</h1>
    <p>I graduated from my high school with an associates degree. To achieve this I went to college part time while I was still in high school and this lead to me graduating with two degrees at the same time! My associates in social Sciences from Brookdale community college as well as my High school diploma from Raritan high school</p>
</div>

<%- include('./partials/footer') %>
