<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Portfolio</title>
</head>
<body>
    <nav class = "navbarNav">
        <ul class = "navbarUl">
          <li class="navbarLi"><a class="listItemNav" href="/about">About</a></li>
          <li class="navbarLi"><a class="listItemNav" href="/projects">Projects</a></li>
          <li class="navbarLi" ><a class="listItemNav" href="/">Home</a></li>
          <li><a class="pageName">About me</a></li>
        </ul><br><br>
    </nav>

    <br><br><br><br>
        <div class="infoContainer">
            <h1 class="info">Who am I?</h1>
            <p class="info">I am a coder and software engineer that designs, and helps design, products that are helpful to others and can make an impact on the world. I look to have more impact on a company than just the code I write, I hope to change a company and the people in it for the better.</p>
        </div>

        <br><br><br><br>

        <div class="infoContainer">
            <h1 class="info">My Education History</h1>
            <p class="info">I graduated from my high school with an associates degree. To achieve this I went to college part time while I was still in high school and this lead to me graduating with two degrees at the same time! 
                My associates in social Sciences from Brookdale community college as well as my High school diploma from Raritan high school.
                Recently I have just graduated from General Assemblys Software Engineering immersive course.
                This coding bootcamp was where I learned all the skills present in my repertoire. I learned a variety of skills
                including but not limited to, Javascript, Python, The MVC model, OOP, OOD, Express, Django, MongoDb, SQL, and much much more.
            
            </p>
        </div>
        <div class="skillsContainer">
            <ul>
                <p class="SkillTitle">Skills</p>
                <li class="skill">Javscript</li>
                <li class="skill">Express</li>
                <li class="skill">Node</li>
                <li class="skill">Python</li>
                <li class="skill">Django</li>
                <li class="skill">MongoDB</li>
                <li class="skill">Mongoose</li>
                <li class="skill">OOP</li>
                <li class="skill">OOD</li>
            <div class="skills2Container">
                <li class="skill2">SQL</li>
                <li class="skill2">Postgres</li>
                <li class="skill2">MVC</li>
                <li class="skill2">Data structures</li>
                <li class="skill2">React</li>
                <li class="skill2">AWS</li>
                <li class="skill2">MVT</li>
            </div>
            </ul>
        </div>

<%- include('./partials/footer') %>
