<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav class = "navbarNav">
        <ul class = "navbarUl">
          <li class="navbarLi" ><a class="listItemNav" href="/">Home</a></li>
          <li class="navbarLi"><a class="listItemNav" href="/about">About</a></li>
          <li class="navbarLi"><a class="listItemNav" href="/projects">Projects</a></li>
          <li class="navbarLi"><a class="listItemNav" href="/contact">Contact</a></li>
          <li class="navbarLi"><a class="pageName">Contact</a></li>
        </ul><br><br>
    </nav><p class="headerForPage">About Page</p>


        <p class="headerForPage">Contact Page</p>

        <p>908-309-2163</p>
        <p>pschenk0304@gmail.com</p>
        <a href="https://www.linkedin.com/in/patrick-schenk-5a910124a/">linkedin</a><br><br>
        <a href="https://github.com/Patsch03">Github</a> 


<%- include('./partials/footer') %>
