<%- include('./partials/header') %>
<p>Contact Page</p>

<a href="https://github.com/Patsch03">Github</a> 
<p>908-309-2163</p>
<p>pschenk0304@gmail.com</p>
<a href="https://www.linkedin.com/in/patrick-schenk-5a910124a/">linkedin</a>

<%- include('./partials/footer') %>
