<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Portfolio</title>
</head>
<body>
    <nav class = "navbarNav">
        <ul class = "navbarUl">
          <li class="navbarLi"><a class="listItemNav" href="/about">About</a></li>
          <li class="navbarLi"><a class="listItemNav" href="/projects">Projects</a></li>
          <li class="navbarLi" ><a class="listItemNav" href="/">Home</a></li>
        </ul><br><br>
    </nav>

    <br><br><br><br>

<h1 class="NameHeader">Patrick Schenk - A Software Engineer </h1>

<p>I am a coder and software engineer that designs, and helps design, products that are helpful to others and can make an impact on the world.
   I look to have more impact than writing code, I hope to make whatever I work on better!</p>


<%- include('./partials/footer') %>

