<%- include('./partials/header') %>
<p>Home page</p>

<h1>Patrick Schenk</h1>

<p>I am a fullstack developer who enjoys coding and seeing my projects come to life</p>


<%- include('./partials/footer') %>

