<%- include('./partials/header') %>
<p>Project List</p>

<div>
    <a href="https://github.com/Patsch03/Black-jack-game" target="_blank">Black-jack-game</a>
</div>

<div>
    <a href="https://github.com/Patsch03/Grand-Garage" target="_blank">Grand-Garage</a>
</div>

<div>
    <a href="https://github.com/Pfulcher26/project-3" target="_blank">Perfect.match()</a>
</div>



<%- include('./partials/footer') %>
