<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav class = "navbarNav">
        <ul class = "navbarUl">
          <li class="navbarLi"><a class="listItemNav" href="/about">About</a></li>
          <li class="navbarLi"><a class="listItemNav" href="/projects">Projects</a></li>
          <li class="navbarLi" ><a class="listItemNav" href="/">Home</a></li>
          <li><a class="pageName">Projects</a></li>
        </ul><br><br>
    </nav>


<br><br><br><br>
<div>
    <a href="https://github.com/Patsch03/Black-jack-game" target="_blank">Black-jack-game</a>
</div>

<div>
    <a href="https://github.com/Patsch03/Grand-Garage" target="_blank">Grand-Garage</a>
</div>

<div>
    <a href="https://github.com/Pfulcher26/project-3" target="_blank">Perfect.match()</a>
</div>

<div>
    <a href="https://github.com/Patsch03/project-4-base" target="_blank">Patrick Webster</a>
</div>



<%- include('./partials/footer') %>
