<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav class = "navbarNav">
        <ul class = "navbarUl">
          <li class="navbarLi"><a class="listItemNav" href="/about">About</a></li>
          <li class="navbarLi"><a class="listItemNav" href="/projects">Projects</a></li>
          <li class="navbarLi" ><a class="listItemNav" href="/">Home</a></li>
          <li><a class="pageName">Projects</a></li>
        </ul><br><br>
    </nav>


<br><br><br><br>
<div>
    <a href="https://github.com/Patsch03/Black-jack-game" target="_blank">Black-jack-game</a>
    <p>
        This was my first project that I completed at General Assembly. This project was made mainly with Javascript and HTML.
        This project was completed in one week and was the first coding project ive ever created.
    </p>
</div>

<div>
    <a href="https://github.com/Patsch03/Grand-Garage" target="_blank">Grand-Garage</a>
    <p>
        This was my second project that I created at General Assembly. This project is much more complex than my black jack game.
        This one involved databases (MongoDB), GoogleOauth, and full CRUD operations. It is a website that was created using express. The website 
        itself is an e-commerce website, where users sign in with their google account and create seller posts as well as buy the items 
        that other users had created on the website.
    </p>
</div>

<div>
    <a href="https://github.com/Pfulcher26/project-3" target="_blank">Perfect.match()</a>
    <p>
        This was my third project at General Assembly and this one was a bit different from the previous 2. This on I was working with a team of 5 people 
        in total. We worked on a job matching website. We used MongoDB, the Adzuna API, and implemented full CRUD operations. The main job listing page 
        pulls jobs from the adzuna API and then displays them on our main job listing page. Users can save jobs as well as see what their matched jobs 
        are. The matched jobs are based on if the users skills (entered upon account creation) match any job listings skills.
    </p>
</div>

<div>
    <a href="https://github.com/Patsch03/project-4-base" target="_blank">Patrick Webster</a>
    <p>
        This was my final project at General Assembly, and for this final project I made an online dictionary. Its very simple and intuitive to use. 
        For this project I used the react framework. The user signs in and then searches words to their hearts content. I used the Words API off of the Rapid 
        API website to get the properties of a specific word.
    </p>
</div>



<%- include('./partials/footer') %>
