body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbarLi {
  float: right;
  font-size: 25px;
}

.listItemNav{
  display: block;
  padding: 8px;
  background-color: #dddddd;
  color: #00B7FF;
}

.headerForPage{
  font-size: 36px;
}

.pageName{

}